html,
body {
	background: grey;
	padding: 0;
	margin: 0;
	height: 100%;
	cursor: pointer;
}
span {
	color: #fff;
	background-color: green;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	line-height: 30px;
	text-align: center;
	position: absolute;
}